@import "../../../styles/variables";

.error {
  grid-area: main;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @include breakpoint(tablet) {
    padding: 2rem;
  }

  &__title {
    text-align: center;
    color: $color-red;
  }
  &__message {
    margin-top: 0.5rem;
    text-align: center;
  }
}

