@import "../../styles/variables";
.bookmark-container {
    grid-area: main;

    @include content_container;

    gap: 4rem;
    min-height: 85vh;
}
.bookmark {
  @include content_container;
}

.bookmark-tv {
  @include content_container;
}
