@import "../../styles/variables";
.bookmark-container {
  grid-area: main;

  @include content_container;

  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  min-height: 85vh;
}
.bookmark {
  @include content_container;

  &__empty {
    grid-column: 1 / -1;
    font: $small-body-desktop;
    font-style: italic;
    color: rgba($color-white, 0.75);
  }
}

.bookmark-tv {
  @include content_container;

  &__title {
    font: $large-heading-mobile;
    margin: 0 0 1rem;

    @include breakpoint(desktop_lg) {
      font: $medium-heading-desktop;
    }

    @include breakpoint(desktop_xl) {
      font: $large-heading-desktop;
    }
  }

  &__empty {
    grid-column: 1 / -1;
    font: $small-body-desktop;
    font-style: italic;
    color: rgba($color-white, 0.75);
  }
}
