@import "../../../styles/variables";

.trending {
  width: 100%;
  overflow: hidden;

  @include breakpoint(desktop_md) {
    grid-area: main;
    width: calc(100% + 2rem);
  }

  &__content {
    min-width: 100%;
    margin-left: -0.5rem;
    padding: 0 0.5rem;

    display: grid;
    position: relative;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 15rem);
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    
    @include breakpoint(mobile) {
      grid-template-columns: repeat(5, 18rem);
    }

    @include breakpoint(tablet) {
      padding: 0 2rem;
      margin-left: -2rem;
      width: calc(100% - 2rem);
      grid-template-columns: repeat(5, 24rem) 0px;
      grid-gap: 1.5rem;
    }

    @include breakpoint(desktop_md) {
      padding: 0;
      margin-left: 0;
      grid-gap: 2rem;
      grid-template-columns: repeat(5, 24rem) 0px;
    }

    @include breakpoint(desktop_lg) {
      grid-template-columns: repeat(5, 34rem) 0px;
    }
  }
}