// COLOURS
$color-dark-blue: #10141E;
$color-semi-dark-blue: #161D2F;
$color-greyish-blue: #5A698F;
$color-red: #FC4747;
$color-white: #FFFFFF;

// FONT AND WEIGHT
$font-family: "Outfit", sans-serif;
$light: 300;
$medium: 500;


// FONT VARIABLES
// BODY STYLES
//desktop
$medium-body-desktop: $light 0.9rem $font-family;
$small-body-desktop: $light 0.85rem $font-family;

//mobile
$medium-body-mobile: $light 0.8rem $font-family;
$small-body-mobile: $light 0.7rem $font-family;

// HEADING STYLES
// desktop
$large-heading-desktop: $light 2rem $font-family;
$medium-heading-desktop: $light 1.5rem $font-family;
$small-heading-desktop: $medium 1.5rem $font-family;
$extra-small-heading-desktop: $medium 1.2rem $font-family;

//mobile
$large-heading-mobile: $light 1.2rem $font-family;
$small-heading-mobile: $medium 0.85rem $font-family;
$extra-small-heading-mobile: $medium 0.7rem $font-family;

