// Normalize pre-default CSS values
@import "normalize-scss/sass/normalize/import-now";

// Import required fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

// Additional imports
@import "_variables.scss";

// Global styles
body {
  background-color: $color-dark-blue;
  font-size: 16px;
  color: $color-white;
  font-family: $font-family;
  font-weight: $light;
  padding-bottom: 4em;
}

// Remove default styles
input, button, textarea, select {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
