// Normalize pre-default CSS values
@import "normalize-scss/sass/normalize/import-now";

// Get fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

// Additional imports
@import "_variables.scss";


body {
  font-size: 16px;
  font-family: $font-family;
  font-weight: $light;
}

// Import all scss files

//@import "components/Bookmark/Bookmark";
//
