
@mixin transition {
  transition: all 0.3s;
}

@mixin content_container {
    width: 100%;

  @include breakpoint(desktop_md) {
    grid-area: main;
  }
  
    &__title {
      margin-bottom: 1.5rem;
    }

    &__content {
      display: grid;
      position: relative;
      grid-gap: 0.75rem;
      grid-template-columns: 1fr 1fr;
      align-content: flex-start;
      
      @include breakpoint(tablet) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
      }
      
      @include breakpoint(desktop_md) {
        min-height: 90dvh;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        row-gap: 3rem;
      }
      
      @include breakpoint(desktop_lg) {
        gap: 4rem;
      }
    }
}

@mixin breakpoint($point) {
  @if $point == mobile {
      @media (min-width: 320px) {
      @content;
      }
  }
  @else if $point == tablet {
    @media (min-width: 768px){
      @content;
    }
  }
  @else if $point == desktop_md {
    @media (min-width: 1024px) {
      @content;
    }
  }
    @else if $point == desktop_lg {
        @media (min-width: 1440px) {
        @content;
        }
    }
    @else if $point == desktop_xl {
        @media (min-width: 1920px) {
        @content;
        }
    }
}