
@mixin transition {
  transition: all 0.3s;
}

@mixin content_container {
    width: 100%;

    &__title {
      font: $large-heading-mobile;
      margin-bottom: 1.5rem;
    }

    &__content {
      display: grid;
      position: relative;
      grid-gap: 0.75rem;
      grid-template-columns: 1fr 1fr;
    }
}