// Font: Outfit
$font-family: "Outfit", sans-serif;
$light: 300;
$medium: 500;

// Heading sizes
$large-heading-desktop: $light 2rem $font-family;
$medium-heading-desktop: $light 1.5rem $font-family;
$small-heading-desktop: $medium 1.5rem $font-family;
$extra-small-heading-desktop: $medium 1.2rem $font-family;

$large-heading-mobile: $light 1.2rem $font-family;
$small-heading-mobile: $medium 0.85rem $font-family;
$extra-small-heading-mobile: $medium 0.7rem $font-family;

// Body sizes
$medium-body-desktop: $light 0.9rem $font-family;
$small-body-desktop: $light 0.85rem $font-family;

$medium-body-mobile: $light 0.8rem $font-family;
$small-body-mobile: $light 0.7rem $font-family;