// Normalize pre-default CSS values
@import "normalize-scss/sass/normalize/import-now";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');
@import "_variables.scss";

body {
  min-height: 100dvh;
  background-color: $color-dark-blue;
  color: $color-white;
  font: $small-body-mobile;
  
  @include breakpoint(tablet) {
    font: $medium-body-mobile;
  }
  
  @include breakpoint(desktop_lg) {
    font: $small-body-desktop;
  }
  
  @include breakpoint(desktop_xl) {
    font: $medium-body-desktop;
  }
}

a {
  text-decoration: none;
  color: $color-red;
}

input, button, textarea, select, p {
  color: $color-white;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#root {
  width: calc(100% - 2rem);
  min-height: 100dvh;
  
  display: grid;
  grid-template-areas: 
              "header"
              "searchBar"
              "main"
              "footer";
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem 4rem 1rem;
  
  @include breakpoint(mobile) {
    padding: 0 1rem;
  }
  
  @include breakpoint(tablet) {
    padding: 0 2rem;
    gap: 2.5rem;
  }
  
  @include breakpoint(desktop_md) {
      width: calc(100% - 4rem);
      min-height: 100dvh;
      row-gap: 1rem;
      column-gap: 2rem;
      grid-template-areas: 
              "aside searchBar"
              "aside main"
              "aside footer";
      grid-template-columns: 1fr 12fr;
      grid-template-rows: auto minmax(0px, max-content) 1fr;
      align-items: start;
  }
  
  @include breakpoint(desktop_lg) {
    grid-template-columns: 1fr 16fr;
    row-gap: 3rem;
  }
}

h1 {
  font: $large-heading-mobile;
  margin: 0 0 1rem;

  @include breakpoint(desktop_lg) {
    font: $medium-heading-desktop;
  }

  @include breakpoint(desktop_xl) {
      font: $large-heading-desktop;
  }
}

h2 {
  font: $small-heading-mobile;
  margin: 0 0 1rem;
  
    @include breakpoint(desktop_lg) {
        font: $small-heading-desktop;
    }
  
    @include breakpoint(desktop_xl) {
        font: $medium-heading-desktop;
    }
}

h3 {
  font: $extra-small-heading-mobile;
  
    @include breakpoint(desktop_lg) {
        font: $extra-small-heading-desktop;
    }
  
    @include breakpoint(desktop_xl) {
        font: $small-heading-desktop;
    }
}