@import "../../../styles/variables";

.recommend {
  @include content_container;

  padding-block: 1rem 2rem;

  @include breakpoint(desktop_md) {
    padding-block: 2rem 4rem;
  }

  &__title-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 0;
  }

  &__title {
    margin: 0;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;

    @include breakpoint(tablet) {
      width: 2rem;
      height: 2rem;
    }
  }
}
