@import "../../../styles/_variables";

.nav {
  display: flex;
  align-items: center;
  gap: 1.2em;
  &__link {
    display: flex;
    align-items: center;
  }
  svg {
    transform: scale(0.8);
  }
  &__link--active {
    fill: $color-white;
  }
  &__link--default {
    fill: #5A698F;
  }

}