@import "../../../styles/_variables";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @include breakpoint(desktop_md) {
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-self: flex-start;
    gap: 0.5rem;
    min-width: 2rem;
  }

  &--expanded {
    min-width: 10rem;
    transition: min-width 0.3s ease-in-out;
  }
}
