@import "../../../../styles/_variables";

.trending-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: calc(100% - 1rem);
  min-height: 8.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  
  @include breakpoint(mobile) {
    min-width: calc(100% - 1.5rem);
    min-height: 10rem;
    padding: 0.75rem;
  }
  
  @include breakpoint(tablet) {
    min-width: calc(100% - 1rem);
    min-height: 12rem;
    padding: 1rem;
  }

  @include breakpoint(desktop_md) {
      min-width: 30rem;
      min-height: 20rem;
      padding: 1rem;
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40%, rgba(0, 0, 0, 0.9) 100%);
  }
  
  &__bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: rgba(16, 20, 30, .75);
    border-radius: 50%;
  }
  
  &__bookmark--img {
    
  }
  
  &__info {
    z-index: 1;
    align-self: self-end;
    padding-left: 0.5rem;
    font: $small-body-mobile;
    
    @include breakpoint(mobile) {
      font: $medium-body-mobile;
    }
    
    @include breakpoint(tablet) {
      font: $small-body-desktop;
    }

    @include breakpoint(desktop_md) {
      font: $medium-body-desktop;
    }
  }
  
  &__info--title {
    margin: 0;
  }
}

.trending-info {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: -0.8em;
  
  &__year {
    opacity: 80%;
  }
  
  &__category {
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__category--img {
    opacity: 100%;
    padding-right: .4em;
  }
  
  &__rating {
    opacity: 80%;
  }
  
  &__separator {
    align-self: center;
    margin: 0 .75em;
    width: 0.2em;
    height: 0.2em;
    background-color: $color-white;
    opacity: 50%;
    border-radius: 50%;
  }
}