@import "../../../../styles/_variables";

.trending-card {
  scroll-snap-align: center;
  
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 8rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  aspect-ratio: 16 / 9;
  background-size: cover;
  
  @include breakpoint(mobile) {
    padding: 1rem;
  }
  
  @include breakpoint(desktop_md) {
    scroll-snap-align: start;
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40%, rgba(0, 0, 0, 0.9) 100%);
  }
  
  &__bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: rgba(16, 20, 30, .75);
    border-radius: 50%;
  }
  
  &__bookmark--img {
    
  }
  
  &__info {
    z-index: 1;
    align-self: self-end;
    
    
    &--title {
      margin: 0;
    }
  }
}

.trending-info {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: -0.8em;

  @include breakpoint(mobile) {
    font: $small-body-mobile;
  }
  
  @include breakpoint(tablet) {
    font: $medium-body-mobile;
  }
  
  &__year {
    opacity: 80%;
  }
  
  &__category {
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__category--img {
    opacity: 100%;
    padding-right: .4em;
  }
  
  &__rating {
    opacity: 80%;
  }
  
  &__separator {
    align-self: center;
    margin: 0 .75em;
    width: 0.2em;
    height: 0.2em;
    background-color: $color-white;
    opacity: 80%;
    border-radius: 50%;
  }
}