@import "../../../styles/variables.scss";

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.spinner {
  display: none;
  visibility: hidden;

  &--active {
    display: block;
    visibility: visible;
    width: 1.5rem;
    height: 1.5rem;
    border: 5px solid transparent;
    border-top-color: $color-white;
    border-radius: 50%;
    animation: loading 1.15s ease infinite;
  }

  &--primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
