@import "../../styles/_variables";

@keyframes expand {
  0% {
    min-width: 3rem;
  }
  100% {
    min-width: 12rem;
  }
}

@keyframes hide {
  0% {
    min-width: 12rem;
  }
  100% {
    min-width: 3rem;
  }
}

.header {
  grid-area: header;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $color-semi-dark-blue;
  padding: 0.75rem 1rem;
  margin-left: -1rem;
  border-bottom: 1px solid $color-greyish-blue;

  @include breakpoint(tablet) {
    width: calc(100% - 2rem);
    border-radius: 0.75rem;
    margin: 1rem 0 0 0;
  }

  @include breakpoint(desktop_md) {
    grid-area: aside;
    place-self: flex-start;
    min-width: 3rem;
    min-height: calc(95dvh - 5rem);
    position: sticky;
    top: 2rem;
    left: 0;
    margin-left: 0;
    border: none;

    display: grid;
    align-content: space-between;
    justify-content: center;
    padding: 2rem 1rem;

    &--hidden {
      animation: hide 0.1s ease-in-out both 0.2s;
    }

    &--expanded {
      min-width: 12rem;
      animation: expand 0.3s ease-in-out forwards;
    }
  }

  &__logo {
    width: 1.6rem;
    height: 1.3rem;

    @include breakpoint(desktop_md) {
      justify-self: center;
      width: 2rem;
      height: 1.6rem;
    }
  }
}

.user-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  @include breakpoint(desktop_md) {
    align-self: flex-end;

    &:hover &__text {
      @include transition(color);
      color: $color-white;
    }

    &:hover &__icon {
      @include transition(color);
      color: $color-red;
    }
  }

  &__button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    cursor: pointer;
    padding-block: 1rem 0.5rem;
    border: none;
    color: $color-greyish-blue;
  }

  &__avatar {
    background-color: $color-white;
    border: 1.5px solid $color-white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    @include breakpoint(desktop_md) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__icon {
    @include transition(color);

    color: $color-greyish-blue;
    width: 1.5rem;
    height: auto;

    &--active {
      @include transition(color);
      color: $color-white;
    }
  }
}
