@import "../../styles/_variables";

.header {
  grid-area: header;
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-semi-dark-blue;
  padding: 0.75rem 1rem;
  margin-left: -1rem;

  
  @include breakpoint(tablet) {
    border-radius: 0.75rem;
    margin: 1rem;
  }
  
  @include breakpoint(desktop_md) {
    grid-area: aside;
    place-self: flex-start;
    
    max-width: 4rem;
    min-height: 80dvh;
    position: sticky;
    top: 2rem;
    left: 0;
    
    margin-left: 0;
    flex-direction: column;
  }
  
  &__logo {
    width: 1.6em;
    height: 1.3em;
    
    @include breakpoint(desktop_md) {
      width: 2em;
      height: 1.6em;
    }
  }
  
  &__avatar {
    background-color: $color-white;
    border: 1px solid $color-white; 
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    
    @include breakpoint(desktop_md) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}